# Programa Mujeres en Data Science

Como dijimos en clases anteriores, Python tiene implementadas muchas librerias para poder trabajar con datos. En la clase de hoy trabajaremos con dos de ellas: `Numpy` y `Pandas`.

Antes de comenzar, vamos a hablar un poco de estas dos librerias o modulos.

**Numpy** es una librería optimizada para realizar cálculos numéricos con vectores y matrices. A diferencia de otros lenguajes de programación, Python no posee en su estructura central la figura de matrices. Eso quiere decir que para poder trabajar con esta estructura de datos deberiamos trabajar con listas de listas. NumPy introduce el concepto de arrays o matrices.

Por otro lado, **Pandas** es una libreria que es una extensión de NumPy. Basicamente al utilizar `pandas`, utilizo `numpy` por debajo. Esta orientada a la manipulación y análisis de datos debido a que ofrece estructuras de datos y operaciones para manipular tablas numéricas y series temporales.

La estructura principal de `pandas` es el `DataFrame` que es muy similar a una tabla. Así también, contiene otra estrucutra denominada `Serie`.

Al ser de código abierto, `pandas` y `numpy` poseen una documentación muy amplia que es **SIEMPRE RECOMENDABLE** consultar.

- [Documentacion NumPy](https://devdocs.io/numpy/)
- [Documentacion Pandas](https://pandas.pydata.org/pandas-docs/stable/)

In [0]:
## Clase 2: Intro a Numpy y Pandas

## Modulo 2: Pandas-Conociendo un dataset

Una de las primeras cosas que debe realizar un Data Scientist al iniciar un nuevo proyecto es conocer el dataset con el cual va a trabajar. Este paso se conoce como _"Analisis exploratorio de los datos"_. Es útil para saber que tipo de datos contiene el dataset, obtener estadistica descriptiva y detectar problemas como valores faltantes (o missing values).

Pandas es una gran ayuda para manejar nuestros dataset. En la clase de hoy, veremos algunos conceptos basicos de pandas y como leer datasets.

In [1]:
#importa numpy

#importa pandas
import pandas as pd

Pandas nos facilita con varias funciones para leer archivos. Entre ellas podemos encontrar:

- `.read_csv()`: lee archivos `csv` como DataFrame
- `.read_json()`: lee archivos `json` como DataFrame
- `.read_excel()`: leer archivos `excel` como DataFrame

Para conocer más funciones que ayuden a leer archivos, consulta [acá](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

Nosotras vamos a usar [`.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

Los archivos `csv` son un tipo de documento en formato abierto sencillo para representar datos en forma de tabla, en las que las columnas se separan por comas (o punto y coma) y las filas por saltos de línea. Es uno de los formatos más utilizados en Data Science.

La sintaxis para poder leer un archivo csv es: 
    
`df = pd.read_csv('nombredelarchivo.csv', delimiter=',')`

Aunque muchas veces se omite el `delimiter` si el archivo esta separado por comas.

Vamos a trabajar con el archivo `StudentsPerformance.csv` (Lo podes encontrar en la carpeta Clase2). Es usual descargar el archivo `csv` en la misma carpeta en la que trabajas con el jupyter notebook. De esta manera, no tendras que especificar el path a tu archivo.

1) Lee el archivo csv `StudentsPerformace` usando `pandas`. Guardalo en una variable llamada `students`.

In [2]:
students = pd.read_csv('StudentsPerformance.csv')
students

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,NaN,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

2) ¿Que tipo de estructura de datos contiene la variable `students`? _Hint_: Usa `type`

In [3]:
type(students)

pandas.core.frame.DataFrame

3) ¿Cuantas filas y columnas tiene `students`? Para contestar esta pregunta, pandas tiene la funcion `.shape()`. Su sintaxis es la siguiente: `df.shape()` (`df` debe ser reemplazado por el nombre de tu `DataFrame`). 


De ahora en más cuando nos refiramos a un tipo de sintaxis donde debe colocarse `nombre_del_data_frame.funcion()`, la mencionaremos como `.funcion()`.

¿Que devuelve esta funcion? ¿Cual crees que corresponde a las filas y cual a las columnas?

**Numero de filas**: ____

**Numero de columnas**: ____

3) ¿Cual es el nombre de las columnas contenidas en `students`? Para esto, pandas tiene la función `.columns`.

In [4]:
students.shape

(1000, 8)

4) Inspecciona las primeras 10 filas de `students` usando la función `.head()`. Dentro de esta función podemos colocar un numero. Este numero nos dira cuantas filas queremos observar.

In [5]:
students.head

<bound method NDFrame.head of      gender race/ethnicity parental level of education         lunch  \
0    female        group B                         NaN      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
10     male        group C          associate's degree      standard
11     male        group D          associate's degree      standard
12   female        group B                 high school      standard
13     male        group A                some college      standard
14   female        group A             master's degree      standard
15   female        group C            some high school      standard
16     male        group C                 high school      standard
17   female        group B            some high school  free/reduced
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
20     male        group D                 high school      standard
21   female        group B                some college  free/reduced
22     male        group D                some college      standard
23   female        group C            some high school      standard
24     male        group D           bachelor's degree  free/reduced
25     male        group A             master's degree  free/reduced
26     male        group B                some college      standard
27   female        group C           bachelor's degree      standard
28     male        group C                 high school      standard
29   female        group D             master's degree      standard
..      ...            ...                         ...           ...
970  female        group D           bachelor's degree      standard
971    male        group C            some high school      standard
972  female        group A                 high school  free/reduced
973  female        group D                some college  free/reduced
974  female        group A                some college      standard
975  female        group C                some college      standard
976    male        group B                some college  free/reduced
977    male        group C          associate's degree      standard
978    male        group D                 high school      standard
979  female        group C          associate's degree      standard
980  female        group B                 high school  free/reduced
981    male            NaN            some high school      standard
982    male        group B            some high school      standard
983  female        group A                some college      standard
984  female        group C            some high school      standard
985    male        group A                 high school      standard
986  female        group C          associate's degree      standard
987    male        group E            some high school      standard
988  female        group A            some high school  free/reduced
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
5                      none          71             83             78
6                 completed          88             95             92
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
10                     none          58             54             52
11                     none          40             52             43
12                     none          65             81             73
13                completed          78             72             70
14                     none          50             53             58
15                     none          69             75             78
16                     none          88             89             86
17                     none          18             32             28
18                completed          46             42             46
19                     none          54             58             61
20                     none          66             69             63
21                completed          65             75             70
22                     none          44             54             53
23                     none          69             73             73
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
27                     none          67             69             75
28                     none          70             70             65
29                     none          62             70             75
..                      ...         ...            ...            ...
970                    none          89            100            100
971               completed          78             72             69
972               completed          53             50             60
973                    none          49             65             61
974                    none          54             63             67
975               completed          64             82             77
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
979                    none          91             95             94
980                    none           8             24             23
981                    none          81             78             78
982               completed          79             85             86
983               completed          78             87             91
984                    none          74             75             82
985                    none          57             51             54
986                    none          40             59             51
987               completed          81             75             76
988                    none          44             45             45
989               completed          67             86             83
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

5) Ahora inspecciona las 10 ultimas usando `.tail()`. También podemos indicar el número de filas que queremos observar.

In [6]:
students.tail

<bound method NDFrame.tail of      gender race/ethnicity parental level of education         lunch  \
0    female        group B                         NaN      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
10     male        group C          associate's degree      standard
11     male        group D          associate's degree      standard
12   female        group B                 high school      standard
13     male        group A                some college      standard
14   female        group A             master's degree      standard
15   female        group C            some high school      standard
16     male        group C                 high school      standard
17   female        group B            some high school  free/reduced
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
20     male        group D                 high school      standard
21   female        group B                some college  free/reduced
22     male        group D                some college      standard
23   female        group C            some high school      standard
24     male        group D           bachelor's degree  free/reduced
25     male        group A             master's degree  free/reduced
26     male        group B                some college      standard
27   female        group C           bachelor's degree      standard
28     male        group C                 high school      standard
29   female        group D             master's degree      standard
..      ...            ...                         ...           ...
970  female        group D           bachelor's degree      standard
971    male        group C            some high school      standard
972  female        group A                 high school  free/reduced
973  female        group D                some college  free/reduced
974  female        group A                some college      standard
975  female        group C                some college      standard
976    male        group B                some college  free/reduced
977    male        group C          associate's degree      standard
978    male        group D                 high school      standard
979  female        group C          associate's degree      standard
980  female        group B                 high school  free/reduced
981    male            NaN            some high school      standard
982    male        group B            some high school      standard
983  female        group A                some college      standard
984  female        group C            some high school      standard
985    male        group A                 high school      standard
986  female        group C          associate's degree      standard
987    male        group E            some high school      standard
988  female        group A            some high school  free/reduced
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
5                      none          71             83             78
6                 completed          88             95             92
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
10                     none          58             54             52
11                     none          40             52             43
12                     none          65             81             73
13                completed          78             72             70
14                     none          50             53             58
15                     none          69             75             78
16                     none          88             89             86
17                     none          18             32             28
18                completed          46             42             46
19                     none          54             58             61
20                     none          66             69             63
21                completed          65             75             70
22                     none          44             54             53
23                     none          69             73             73
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
27                     none          67             69             75
28                     none          70             70             65
29                     none          62             70             75
..                      ...         ...            ...            ...
970                    none          89            100            100
971               completed          78             72             69
972               completed          53             50             60
973                    none          49             65             61
974                    none          54             63             67
975               completed          64             82             77
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
979                    none          91             95             94
980                    none           8             24             23
981                    none          81             78             78
982               completed          79             85             86
983               completed          78             87             91
984                    none          74             75             82
985                    none          57             51             54
986                    none          40             59             51
987               completed          81             75             76
988                    none          44             45             45
989               completed          67             86             83
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>

6) ¿Que tipos de datos contiene cada una de las columnas de `students`? Para esto, utiliza la función `.dtypes`.

In [7]:
students.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

7) ¿Como accedemos a una fila o a una columa de un DataFrame?

Una de las maneras de acceder a una columna es especificando el nombre de la misma. Por ejemplo, `df['nombre_columna']`.

- Accede a la columna `gender` de `students`.

In [8]:
students[['gender','math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
5    female          71
6    female          88
7      male          40
8      male          64
9    female          38
10     male          58
11     male          40
12   female          65
13     male          78
14   female          50
15   female          69
16     male          88
17   female          18
18     male          46
19   female          54
20     male          66
21   female          65
22     male          44
23   female          69
24     male          74
25     male          73
26     male          69
27   female          67
28     male          70
29   female          62
..      ...         ...
970  female          89
971    male          78
972  female          53
973  female          49
974  female          54
975  female          64
976    male          60
977    male          62
978    male          55
979  female          91
980  female           8
981    male          81
982    male          79
983  female          78
984  female          74
985    male          57
986  female          40
987    male          81
988  female          44
989  female          67
990    male          86
991  female          65
992  female          55
993  female          62
994    male          63
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

- Accede ahora a la columna `lunch`.

Otra manera de acceder es usando dos funciones `.loc[]` y `.iloc[]`.

- `iloc[1:m, 1:n]`: Se usa para seleccionar filas basadas en su posición de 1 a m filas y de 1 a n columnas.

In [9]:
#seleccionar las dos primeras filas
students.iloc[:2]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [10]:
#o tambien se usa
students.iloc[:2,]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [11]:
#Selecciona los datos entre la decima y vigesima fila.
students.iloc[10:21]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63

In [12]:
#Selecciona las dos primeras columnas 
students.iloc[:,0:2]

     gender race/ethnicity
0    female        group B
1    female        group C
2    female        group B
3      male        group A
4      male        group C
5    female        group B
6    female        group B
7      male        group B
8      male        group D
9    female        group B
10     male        group C
11     male        group D
12   female        group B
13     male        group A
14   female        group A
15   female        group C
16     male        group C
17   female        group B
18     male        group C
19   female        group C
20     male        group D
21   female        group B
22     male        group D
23   female        group C
24     male        group D
25     male        group A
26     male        group B
27   female        group C
28     male        group C
29   female        group D
..      ...            ...
970  female        group D
971    male        group C
972  female        group A
973  female        group D
974  female        group A
975  female        group C
976    male        group B
977    male        group C
978    male        group D
979  female        group C
980  female        group B
981    male            NaN
982    male        group B
983  female        group A
984  female        group C
985    male        group A
986  female        group C
987    male        group E
988  female        group A
989  female        group D
990    male        group E
991  female        group B
992  female        group D
993  female        group D
994    male        group A
995  female        group E
996    male        group C
997  female        group C
998  female        group D
999  female        group D

[1000 rows x 2 columns]

- `.loc[[nombre_fila], [nombre_columna]]`. Se usa para seleccionar filas o columnas basadas en su nombre

In [13]:
#Selecciona la fila por nombre 1, o sea con indice igual a 1
students.loc[1]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               69
reading score                            90
writing score                            88
Name: 1, dtype: object

In [14]:
#Corre el codigo y observa que devuelve
students.loc[[1,2,3,4,5],['gender','lunch']]

   gender         lunch
1  female      standard
2  female      standard
3    male  free/reduced
4    male      standard
5  female      standard

In [15]:
#Selecciona las filas con indices 3, 10, 30, 43 y columnas reading score y writing score
students.loc[[3,10,30,43], ['reading score', 'lunch']]

    reading score         lunch
3              57  free/reduced
10             54      standard
30             74      standard
43             65  free/reduced

8) A veces queremos seleccionar filas que cumplan con ciertas condiciones, donde el valor de una columna en esa fila sea igual, mayor o menor que un valor.

Para esto tenemos que usar una sintaxis especial. Vamos a construirla de a poco. Imaginemos que tenemos un DataFrame `df` con las columnas `col1`, `col2` y `col3`. Queremos seleccionar solo aquellas filas donde `col1` sea mayor a 10.

Para eso diremos que queremos

df['col1'] > 10 (La columna col1 debe ser mayor a 10). 
Ahora si corremos este codigo, veremos que devuelve valores booleanos. O sea devolvera False para aquellos valores que sean menores o iguales a 10 y True para los que sean mayores a 10.

O sea que tenemos que agregar algo mas para poder seleccionar las columnas. Esta lista de valores booleanos se llama mascara booleana. 

¿Que significa? Que si yo le paso estos valores a pandas, pandas interpretara que debe conservar aquellos valores donde tiene True y descartar donde tiene False.

Por eso, para filtrar filas en base a estas condiciones escribimos:

df[df['col1] > 10].

Esto significa primero fijate en que filas de `df`, la columna `col1` es mayor a 10. Luego, selecciona solo aquellas filas donde esta condicion sea `True`.

In [16]:
#Selecciona solo las filas donde math score sea mayor a 70
students[students['math score']>70]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
13,male,group A,some college,standard,completed,78,72,70
16,male,group C,high school,standard,none,88,89,86
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
49,male,group C,high school,standard,completed,82,84,82
51,male,group E,associate's degree,free/reduced,completed,77,69,68
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
77,male,group A,bachelor's degree,standard,completed,80,78,81
83,male,group E,associate's degree,standard,none,72,64,63
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
89,female,group D,some high school,standard,none,73,86,82
92,male,group C,high school,standard,none,71,79,71
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
100,male,group B,some college,standard,none,79,67,67
102,female,group D,associate's degree,standard,none,85,91,89
...,...,...,...,...,...,...,...,...
924,male,group D,high school,free/reduced,none,74,70,69
925,male,group E,some high school,standard,completed,74,64,60
934,male,group C,associate's degree,standard,completed,98,87,90
938,male,group D,some college,standard,completed,85,81,85
939,male,group D,some high school,standard,completed,77,68,69
940,male,group C,master's degree,free/reduced,completed,72,66,72
941,female,group D,master's degree,standard,none,78,91,96
942,male,group C,high school,standard,none,81,66,64
946,male,group B,high school,standard,none,82,82,80
950,male,group E,high school,standard,none,94,73,71
951,female,group D,some college,standard,completed,75,77,83
952,female,group E,some high school,free/reduced,none,74,74,72
955,male,group E,associate's degree,standard,none,72,57,62
956,male,group C,some college,standard,none,84,87,81
957,female,group D,master's degree,standard,none,92,100,100
959,male,group C,high school,standard,none,75,81,71
962,female,group E,associate's degree,standard,none,100,100,100
964,male,group D,some college,standard,none,72,57,58
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
979,female,group C,associate's degree,standard,none,91,95,94
981,male,NaN,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

In [38]:
#Selecciona solo las filas donde reading score sea menor a 60
students[students['reading score']<60]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
14,female,group A,master's degree,standard,none,50,53,58
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
22,male,group D,some college,standard,none,44,54,53
26,male,group B,some college,standard,none,69,54,55
33,male,group D,some college,standard,none,40,42,38
39,male,group B,associate's degree,free/reduced,none,57,56,57
42,female,group B,associate's degree,standard,none,53,58,65
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
50,male,group E,NaN,standard,none,53,55,48
52,male,group C,some college,standard,none,53,44,42
55,female,group C,high school,free/reduced,none,33,41,43
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
61,male,group A,some high school,free/reduced,none,39,39,34
64,female,group D,some high school,standard,none,59,58,59
66,male,group D,some high school,free/reduced,none,45,37,37
68,male,group B,associate's degree,free/reduced,none,61,58,56
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
...,...,...,...,...,...,...,...,...
883,male,group D,bachelor's degree,free/reduced,none,55,46,44
884,female,group E,associate's degree,standard,none,51,51,54
889,male,group D,high school,free/reduced,none,44,51,48
895,female,group E,some high school,free/reduced,none,32,34,38
896,male,group B,high school,free/reduced,none,36,29,27
898,male,group D,associate's degree,standard,completed,67,54,63
902,female,group A,high school,free/reduced,completed,34,48,41
906,male,group B,high school,standard,none,57,48,51
910,male,group D,bachelor's degree,free/reduced,none,50,42,48
921,female,group C,high school,free/reduced,none,35,53,46
926,male,group E,associate's degree,free/reduced,none,64,56,52
928,male,group E,associate's degree,free/reduced,completed,46,43,44
929,female,group C,some high school,free/reduced,none,48,56,51
931,male,group D,some college,free/reduced,none,62,57,62
936,male,group A,associate's degree,standard,none,67,57,53
937,female,group E,high school,free/reduced,none,57,58,57
947,female,NaN,some college,free/reduced,none,49,58,60
948,male,group B,some high school,free/reduced,completed,49,50,52
953,male,group C,high school,standard,completed,58,52,54
955,male,group E,associate's degree,standard,none,72,57,62
960,female,group A,some college,standard,none,56,58,64
961,female,group D,some high school,free/reduced,none,48,54,53
964,male,group D,some college,standard,none,72,57,58
972,female,group A,high school,free/reduced,completed,53,50,60
978,male,group D,high school,standard,completed,55,41,48
980,female,group B,high school,free/reduced,none,8,24,23
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
988,female,group A,some high school,free/reduced,none,44,45,45
996,male,group C,high school,free/reduced,none,62,55,55

In [40]:
#Selecciona solo las filas donde gender sea igual a female
students[students['gender']== 'female']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
9,female,group B,high school,free/reduced,none,38,60,50
12,female,group B,high school,standard,none,65,81,73
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
17,female,group B,some high school,free/reduced,none,18,32,28
19,female,group C,associate's degree,free/reduced,none,54,58,61
21,female,group B,some college,free/reduced,completed,65,75,70
23,female,group C,some high school,standard,none,69,73,73
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
44,female,group E,associate's degree,free/reduced,none,50,56,54
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
...,...,...,...,...,...,...,...,...
952,female,group E,some high school,free/reduced,none,74,74,72
954,female,group C,some college,standard,none,62,69,69
957,female,group D,master's degree,standard,none,92,100,100
958,female,group D,high school,standard,none,45,63,59
960,female,group A,some college,standard,none,56,58,64
961,female,group D,some high school,free/reduced,none,48,54,53
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
965,female,group D,some college,standard,none,62,70,72
968,female,group E,associate's degree,standard,none,68,76,67
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
986,female,group C,associate's degree,standard,none,40,59,51
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [42]:
#Selecciona solo aquellas filas donde lunch sea distinto a standard
students[students['lunch']!=70]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,NaN,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [48]:
#Muestra los valores de writing score para aquellos estudiantes que tengan reading score mayor a math score
students[students['reading score']> students['math score']]['writing score']

1       88
2       93
3       44
4       75
5       78
6       92
7       39
9       50
11      43
12      73
14      58
15      78
16      86
17      28
19      61
20      63
21      70
22      53
23      73
25      72
27      75
29      75
30      74
31      61
32      65
33      38
36      83
37      59
38      88
40      54
      ...
958     59
959     71
960     64
961     53
963     75
965     72
966     64
968     67
969     80
970    100
973     61
974     67
975     77
976     60
977     58
979     94
980     23
982     86
983     91
984     82
986     51
988     45
989     83
991     78
992     76
993     74
995     95
997     65
998     77
999     86
Name: writing score, Length: 604, dtype: int64

In [51]:
#Selecciona aquellos estudiantes que posean reading and writing score mayor a 70
students[(students['reading score']> 70) & (students['writing score']>70)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,NaN,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
12,female,group B,high school,standard,none,65,81,73
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
30,female,group D,some college,standard,none,69,74,74
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
56,female,group E,associate's degree,standard,completed,82,85,86
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
63,female,group C,associate's degree,standard,none,69,80,71
67,female,group C,some college,standard,none,60,72,74
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
...,...,...,...,...,...,...,...,...
934,male,group C,associate's degree,standard,completed,98,87,90
938,male,group D,some college,standard,completed,85,81,85
941,female,group D,master's degree,standard,none,78,91,96
946,male,group B,high school,standard,none,82,82,80
949,female,group E,high school,free/reduced,completed,57,75,73
950,male,group E,high school,standard,none,94,73,71
951,female,group D,some college,standard,completed,75,77,83
952,female,group E,some high school,free/reduced,none,74,74,72
956,male,group C,some college,standard,none,84,87,81
957,female,group D,master's degree,standard,none,92,100,100
959,male,group C,high school,standard,none,75,81,71
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
975,female,group C,some college,standard,completed,64,82,77
979,female,group C,associate's degree,standard,none,91,95,94
981,male,NaN,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
987,male,group E,some high school,standard,completed,81,75,76
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

9) Los valores faltantes son un problema muy grande a la hora de visualizar y limpiar datos así como también a la hora de entrenar un modelo. Uno de los pasos obligados de cualquier exploración de datos es evaluar la presencia de estos valores.

Como manejar estos datos faltantes es un gran desafio. La mayoría de las veces no queremos eliminar esos valores porque significaría perder información valiosa en otros features. En la proxima clase veremos como podemos manejarlos.

Los valores faltantes estan codificados normalemente como `NaN`. Esto no es un string, sino que es un valor especial de `NumPy` que es tratado como un flotante.

Para chequear si tenemos valores faltantes podemos usar la función `.isnull()`. Esto nos devuelve una nueva DataFrame en la cual tendremos el valor False si no es faltante y True si ese valor es faltante.

In [17]:
#Usa .isnull() para ver que ocurre
students.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False
971,False,False,False,False,False,False,False,False
972,False,False,False,False,False,False,False,False
973,False,False,False,False,False,False,False,False
974,False,False,False,False,False,False,False,False
975,False,False,False,False,False,False,False,False
976,False,False,False,False,False,False,False,False
977,False,False,False,False,False,False,False,False
978,False,False,False,False,False,False,False,False
979,False,False,False,False,False,False,False,False
980,False,False,False,False,False,False,False,False
981,False,True,False,False,False,False,False,False
982,False,False,False,False,False,False,False,False
983,False,False,False,False,False,False,False,False
984,False,False,False,False,False,False,False,False
985,False,False,False,False,False,False,False,False
986,False,False,False,False,False,False,False,False
987,False,False,False,False,False,False,False,False
988,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False
990,False,False,False,False,False,False,False,False
991,False,False,False,False,False,False,False,False
992,False,False,False,False,False,False,False,False
993,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

Podemos sin embargo combinar esta función con otras para poder obtener el numero total de datos faltantes. Por ejemplo, podemos usar `.isnull().sum()`.

In [18]:
#Prueba usar .isnull().sum() sobre tu dataframe para ver que devuelve
students.isnull().sum()

gender                          0
race/ethnicity                 11
parental level of education    10
lunch                           5
test preparation course        15
math score                      0
reading score                   0
writing score                   0
dtype: int64

¿Hay valores faltantes en alguna de las columnas de `students`? ____

10) Si la cantidad de valores faltantes es poca, podemos entonces deshacernos de ellas. Para esto pandas ofrece la función [`.dropna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html). Esta función hara que se eliminen las filas donde hay valores faltantes. Si no le pasamos ningun parametro extra, eliminara todas las filas con valores faltantes. Sin embargo, podes chequear en la documentación como eliminar solo algunas de las filas.

In [19]:
#Elimina todas las filas que tengan valores faltantes. No te olvides de poner inplace=True dentro de la función.
students.dropna()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
...,...,...,...,...,...,...,...,...
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

12) Una manera de ver facilmente algunos detalles estadisticos de cada columna de un DataFrame es usando la fución `.describe()`.

In [20]:
#Usa la funcion .describe() sobre students y describe que informacion estadistica proporciona
students.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Tambien es posible visualizar, por ejemplo, el promedio de una columna. Para esto pandas usa la función de numpy, pero provee la misma sintaxis que las demás funciones. Por ejemplo, si queremos calcular el promedio de la columna `col1` del DataFrame `df` usamos `df['col1'].mean()`.

In [21]:
#Calcula el promedio de la columna math score de students
students['math score'].mean()

66.089

También podemos usar funciones como `.min()`, `.max()`, `.median()`, `.std()`.

In [22]:
#Calcula el minimo y maximo valor, la mediana y el desvio estandard en la columna math score de students
students['math score'].min()

0

In [23]:
students['math score'].max()

100

In [24]:
students['math score'].median()

66.0

In [25]:
students['math score'].std()

15.163080096009468

14) [Investiga](https://pandas.pydata.org/pandas-docs/stable/index.html) y trata de aplicar las siguientes funciones de `pandas`:

- `.index`

NameError: name 'student' is not defined

- `.drop()`

- `.groupby()`

- `.fillna()`

- `.rename()`

- `.astype()`

- `.unique()`

- `.value_counts()`

- `.count()`

- `.reset_index()`